.panel-modal-big{
	width: 800px !important;
	font-size: 14px !important;
}
.panel-modal-scrol{
	overflow: auto;
	max-height: 500px !important;
}
.pilih{
	background: #f5f5f5;
}
.panel-scroll-body{
	overflow: auto;
	max-height: 500px;
}
.penting{
	border:2px solid red;
}
.form-control{
	margin: 10px;
}
.msg-error{
	background: red;
	padding: 10px;
	color: white;
}
